html{
  margin-top: 3%;
  margin-left: 8%;
  margin-right: 8%;
}

.top{
  width: 100%;
  text-align: center;
}

.players{
  width: 5%;
}

.rounds{
  width: 5%
}

.title{
  font-size: 100px;
  width: 90%;
}

#my-table{
  width: 100%;
}

input{
  text-align: center;
}
