@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html{
  margin-top: 3%;
  background-color: #4E575F;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

img{
  width: 300px;
}

h1{
  color: #5e8bc5;
  font-size: 50px;
  margin-top: 15px;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}

.posts {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 15px;
}

.page-wrapper {
  position: relative;
  background: #ffffff;
  height: 160px;
  overflow: hidden;
  border-radius: 10px;
}

.link-background {
  background-color: #e2eaf5;
  background-position: 50%;
  background-size: auto 100%;
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
}

.link-title {
  background: #ffffff;
  padding: 14px 20px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
  font-size: 17px;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  color: #333333 !important;
  opacity: 0;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.link-title:hover {
  opacity: 1;
  transition: 0.4s;
}
.link-background:hover + .link-title {
  opacity: 1;
  transition: 0.4s;
}
.link-background:hover {
  opacity: 0.5;
  transition: 0.4s;
}

@media only screen and (max-width: 900px){
  
  img{
    width: 200px;
  }
  
  .posts {
    grid-gap: 12px;
    padding: 0 8px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px){
  
  img{
    width: 100px;
  }
  
  .posts {
    grid-gap: 10px;
    padding: 0 8px;
    grid-template-columns: repeat(1, 2fr);
  }
}

